@model IEnumerable<Araç.Models.Ilan>
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3">
            <br />
            <!--Filtreleme-->
            @Html.Action("PartialFiltre", "Home")
        </div>
        @foreach (var item in Model)
        {
            var c = 1;
            <div class="col-md-3">
                <br />
                <!--İlan Listesi-->
                <div class="img-thumbnail">
                    @foreach (var rsm in ViewBag.Imgs)
                    {

                        if (rsm.IlanId == item.IlanId)
                        {
                            if (@c == 1)
                            {
                                <a href="/Home/Detay/@item.IlanId"><img src="/Content/image/@rsm.ResimAd" class="card-img-top" alt="..." height="240"></a>
                                c++;

                            }


                        }
                    }

                    <div class="card-body">
                        <h6 class="card-title">@item.Model.Marka.MarkaAd (MODEL: @item.Model.ModelAd)</h6>
                        <h6 class="card-title" style="color:darkblue">Model Yılı: @item.ModelYili (@item.Kilometre km)</h6>
                        <h5 class="card-title" style="color:red">@item.Fiyat ₺</h5>

                    </div>
                </div>
            </div>

        }



    </div>
</div>

